@import url(reset.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font: normal 1em/1.5em "Open Sans", sans-serif;
  color: #fff;
}

#logo {
  height: 200px;
  width: 200px;
  margin-top: 25%;
}

h1 {
  font: bold 2.5em "Oswald", sans-serif;
}

a {
  color: #fff;
}

.flex {
  display: flex;
}

.flex-dir-col {
  flex-direction: column;
}

.justify-cont-center {
  justify-content: center;
}

.justify-cont-spacearound {
  justify-content: space-around;
}

.align-item-center {
  align-items: center;
}

/* splash screen */
.splash {
  background: url("../img/download.jpeg") center center;
  position: fixed;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 360px;
  z-index: 999;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.splash-title {
  color: white;
  font-size: 3em;
  font-family: "Oswald", cursive;
  margin-top: 100px;
  text-shadow: 0 2px 10px #000;
  animation-delay: 1s;
}

a.splash-arrow {
  color: white;
  font-size: 1.2em;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -25px;
  padding: 10px;
  width: 50px;
  height: 50px;
  font-weight: bold;
  transition: all 0.1s ease;
  animation-delay: 1.5s;
  border: 3px solid white;
  border-radius: 50%;
}

a.splash-arrow:hover {
  text-decoration: none;
  bottom: 50px;
}

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.5s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* end of splash screen */

.wrapper {
  background: url("../img/background.jpeg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  font-family: "Patua One", cursive;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 1);
}

#main-content {
  margin: 50px auto;
  box-shadow: 3px 2px 32px 4px rgba(0, 0, 0, 0.88);
  width: 1366px;
}

.card-decks {
  margin: 50px;
  height: 75%;
  width: 100%;
}

.dealer {
  margin: 5px;
  height: 60%;
  font-size: 40px;
}

.deck {
  position: relative;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.stats {
  height: 40%;
  margin: 5px;
  font-size: 30px;
  transform: rotate(-5deg);
}

.deal-card {
  height: 50%;
  margin: 5px;
  font-size: 30px;
  transform: rotate(5deg);
}

.transform {
  font-size: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.adjustbet {
  height: 20px;
  width: 20px;
}

.up {
  display: flex;
}

.margin-5 {
  margin: 5px;
}

.player {
  justify-content: flex-end;
  align-items: flex-end;
  margin: 5px;
  height: 48%;
  font-size: 40px;
}

#playerCards img,
#dealerCards img {
  box-shadow: 3px 2px 32px 4px rgba(0, 0, 0, 0.88);
}
